<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mis Certificados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <h3>Mis Certificaciones</h3>
        <p>Aquí podrás ver y descargar tus certificados obtenidos.</p>
        <ion-icon name="document-text-outline" style="font-size: 64px; color: #ccc;"></ion-icon>
        <p><em>No tienes certificados disponibles por el momento.</em></p>
    </div>
</ion-content>