# Ignorar dependencias y caché de compilación
node_modules/
.npm/
.angular/
.gradle/
dist/
build/
www/
capacitor-cordova-android-plugins/

# Ignorar variables de entorno (Cada servidor debe tener su propio .env)
.env
.env.production
.env.local
.env.*
!.env.example
!.env.production.example

# Ignorar archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Ignorar datos locales de Docker (Importante para no subir la DB de prueba)
postgres_data/
backend_uploads/

# Ignorar archivos de Android compilados
android/app/build/
android/.gradle/
*.apk
*.aab
